@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
        
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    background-color:#f1f1f1;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.item {
    cursor: pointer;
    flex: 1;
    padding: 20px;
    min-width: 150px;
    box-sizing: border-box;
    transition: background-color 0.3s;
    text-align: center;
    border-radius: 5px;
}

.item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.item a:hover {
    color: #555;
}

.item:hover {
    background-color: #ddd;
}

.item svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.header-panel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.footer {
	display: flex;
	width: 100%;
	align-items: center;
	background-color: #333;
	color: #fff;
	padding: 10px;
	box-sizing: border-box
}

.company-info img {
    margin-right: 10px;
}

.header-panel:h1 {
    color: #ffffff;
}

.header-panel:h2 {
    color: #ffffff;
}

.content {
    background-color: #efefef;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    
}

.content h1 {
    color: #000000;
}

.content a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.content a:hover {
    background-color: #ddd;
}

.download-button {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
}

.download-button a {
    color: white;
    text-decoration: none;
}

.download-button:hover {
    background-color: #357A38;

}